<h1>Edit <%=@landmark.name%></h1>

<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <h3><label>Name:</label></h3>
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">

  <h3><label>Year Completed:</label></h3>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">

  <input type="submit" id="submit" value="Edit Landmark">
</form>