<h1>Landmarks</h1>
<% Landmark.all.each do |landmark| %>
<h2><%= landmark.name %></h2> : <h2><%= landmark.year_completed %></h2>
<% end %>

<a class="button" href="landmarks/new">Create A New Landmark</a>
<a class="button" href="/figures">View All Figures</a>


